.sidebarnav{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebarnav li{
    color: #46494B;
    list-style-type: none;
    letter-spacing: 1px;
    cursor: pointer;
}
.sidebarnav li:hover{
    color: white;
}