.topnav{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}
.topnav li{
    color: #6A6B6D;
    list-style: none;
    letter-spacing: .5px;
    cursor: pointer;
}
.topnav li:hover{
    color: white;
}
.profile{ 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: bisque;
    cursor: pointer;
    border-color: rgb(0, 171, 0);
}